<?xml version="1.0"?>
<config>

    <modules>
        <Isatis_Formbuilder>
            <version>0.1.0</version>
        </Isatis_Formbuilder>
    </modules>

    <global>
        <blocks>
            <isatis_formbuilder>
                <class>Isatis_Formbuilder_Block</class>
            </isatis_formbuilder>
        </blocks>
        <helpers>
            <formbuilder>
                <class>Isatis_Formbuilder_Helper</class>
            </formbuilder>
        </helpers>
        <models>
            <formbuilder>
                <class>Isatis_Formbuilder_Model</class>
                <resourceModel>formbuilder_resource</resourceModel>
            </formbuilder>
            <formbuilder_resource>
                <class>Isatis_Formbuilder_Model_Resource</class>
                <entities>
                    <form>
                        <table>isa_formbuilder_form</table>
                    </form>
                    <element>
                        <table>isa_formbuilder_element</table>
                    </element>
                    <option>
                        <table>isa_formbuilder_select_option</table>
                    </option>
                </entities>
            </formbuilder_resource>
        </models>
        <!-- Setup db read & write connection for Mymod module -->
        <resources>
            <formbuilder_setup>
                <setup>
                    <module>Isatis_Formbuilder</module>
                    <class>Isatis_Formbuilder_Model_Resource_Setup</class>
                </setup>
            </formbuilder_setup>
        </resources>
        <!-- -/- -->
    </global>

    <admin>
        <routers>
            <formbuilder>
                <use>admin</use>
                <args>
                    <module>Isatis_Formbuilder</module>
                    <frontName>formbuilder</frontName>
                </args>
            </formbuilder>

        </routers>
    </admin>

    <adminhtml>

        <translate>
            <modules>
                <Isatis_Formbuilder>
                    <files>
                        <default>formbuilder.csv</default>
                    </files>
                </Isatis_Formbuilder>
            </modules>
        </translate>

        <menu>
            <cms>
                <children>
                    <formbuilder translate="title" module="formbuilder">
                        <title>Formbuilder</title>
                        <action>formbuilder/adminhtml_index</action>
                    </formbuilder>
                </children>
            </cms>
        </menu>
            
        <acl>
            <resources>
                <admin>
                    <children>
                        <formbuilder>
                            <children>
                                <formbuilder_adminform>
                                    <title>Formbuilder</title>
                                </formbuilder_adminform>
                            </children>
                        </formbuilder>
                    </children>
                </admin>
            </resources>
        </acl>

        <layout>
            <updates>
                <formbuilder>
                    <file>formbuilder.xml</file>
                </formbuilder>
            </updates>
        </layout>

    </adminhtml>

</config>